{% extends 'basic_layout.html' %}
  
{% block TITLE %}
    Admin Dashboard
{% endblock %}       

        
{% block BODY %} 

<div style="text-align: right;">
    <a href="{{url_for('display_user_details')}}" class="btn btn-outline-success">User Details</a>
    <a href="{{url_for('change_pswd_admin')}}" class="btn btn-outline-secondary">Change Password</a>
    <a href="{{url_for('admin_logout')}}" class="btn btn-outline-danger">Logout</a> 
    
</div>

<h3 class="display-3">Admin Dashboard</h3>
<a href="{{url_for('add_sub')}}" class="btn btn-success">
    <i class="fas fa-add"></i>
    ADD
</a>
<h4 class="display-4">Subjects</h4>


<table class="table table-striped ">
    <thead class='table-info'>
        <tr>
            <th>Subject ID</th>
            <th>Subject Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects%}
        <tr>
            <td>{{subject.id}}</td>
            <td>{{subject.Name}}</td>
            <td>{{subject.Description}}</td>
            <td>
                <div>
                <a href="{{url_for('display_chap',id=subject.id)}}" class="btn btn-primary">
                Chapters</a>
                <a href="{{url_for('edit_sub',id=subject.id)}}" class="btn btn-primary">
                    <i class="fas fa-edit"></i>Edit
                </a>
                <a href="{{url_for('delete_sub',id=subject.id)}}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>Delete
                    
                </a>
             </div>
            </td>
        </tr>
        {%endfor%}
    </tbody>

</table>
   

{% endblock %} 