{% extends 'basic_layout.html' %}
  
{% block TITLE %}
    Quiz Attempts
{% endblock %}       

        
{% block BODY %} 

<div style="text-align: right;">
    <a href="{{url_for('change_pswd_user')}}" class="btn btn-outline-danger">Change Password</a>
    <a href="{{url_for('user_logout')}}" class="btn btn-outline-danger">Logout</a>
 </div><br>
 
 <div style="text-align: left;">
        <h5><span style="color: #ff334e;">Quiz ID:</span> {{ quiz.id }}</h5>
        <h5><span style="color: #ff334e;">Subject:</span> {{ subject.Name }}</h5>
        <h5><span style="color: #ff334e;">Chapter:</span> {{ ch_name }}</h5>
        <h5><span style="color: #ff334e;">Total Marks:</span> {{ quiz.total_marks }}</h5>
        <h5><span style="color: #ff334e;">Scheduled Date:</span> {{ quiz.date_of_quiz }}</h5>
        <h5><span style="color: #ff334e;">Duration (hh:mm):</span> 0{{ quiz.time_duration }}</h5>
 </div><br>

<h2><span style="color: #5c5cca;">Past Attempts </span> (Quiz Summary) </h2><br>

    <table class="table table-striped ">
        <thead class='table-info'>
            <tr>
                <th>Attempt ID</th>
                <th>Attempt Date</th>
                <th>Submission Time</th>
                <th>Score</th>
                <th>Percentage</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for attempt in attempts %}
            <tr>
                <td>{{attempt.id}}</td>
                <td>{{attempt.time_stamp_of_event.strftime('%Y-%m-%d')}}</td>
                <td>{{attempt.time_stamp_of_event.strftime('%H:%M')}}</td>
                <td>{{attempt.total_scored}}/{{quiz.total_marks}}</td>
                <td>{{ "%.2f"|format(attempt.total_scored / quiz.total_marks * 100 ) }}%</td>
                {% if attempt.is_passed %}
                <td>PASS</td>
                {% else %}
                <td>FAIL</td>
                {% endif %}
            </tr>
            {%endfor%}
        </tbody>
    
    </table><br><br>
    <h2 style="color: #d931bd;">Average score of this quiz : {{avg_score }}/{{quiz.total_marks}} </h2><br>

       
{% endblock %} 
