{% extends 'basic_layout.html' %}
  
{% block TITLE %}
    Quiz Attempts
{% endblock %}       

{%block NAVBAR%}
{%include 'navbar_user.html'%}
{% endblock %}   

        
{% block BODY %} 

<h2><span style="color: #5c5cca;">Past Attempts </span> (Quiz Summary) </h2><br>

    <table class="table table-striped ">
        <thead class='table-info'>
            <tr>
                <th>Attempt ID</th>
                <th>Attempt Date</th>
                <th>Submission Time</th>
                <th>Score</th>
                <th>Percentage</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for attempt in attempts %}
            <tr>
                <td>{{attempt.id}}</td>
                <td>{{attempt.time_stamp_of_event.strftime('%Y-%m-%d')}}</td>
                <td>{{attempt.time_stamp_of_event.strftime('%H:%M')}}</td>
                <td>{{attempt.total_scored}}/{{quiz.total_marks}}</td>
                <td>{{ "%.2f"|format(attempt.total_scored / quiz.total_marks * 100 ) }}%</td>
                {% if attempt.is_passed %}
                <td>PASS</td>
                {% else %}
                <td>FAIL</td>
                {% endif %}
            </tr>
            {%endfor%}
        </tbody>
    
    </table><br><br>
    <h2 style="color: #d931bd;">Average score of this quiz : {{avg_score }}/{{quiz.total_marks}} </h2><br>

       
{% endblock %} 
