{% extends 'basic_layout.html' %}
  
{% block TITLE %}
    Edit Chapter
{% endblock %}       

{%block NAVBAR%}

{% include 'navbar_admin.html'%}

{%endblock%}
        
{% block BODY %}

<h5 class="display-5">Edit Chapter</h5><br>

<form action="" method="post" class="form">
    <div class="form-group">
        <label for="name">Chapter Name :</label>
        <input type="text" name="Name" id="Name" value="{{chapter.Name}}" required>
    </div><br>
    <div class="form-group">
        <label for="description" style="display: block;">Description :</label>
        <textarea rows="5" cols="50" name="Description" id="Description"  required>{{chapter.Description}}</textarea>
    </div><br><br>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>

{% endblock %} 