{% extends 'basic_layout.html' %}

{% block TITLE %}
    Home
{% endblock %} 
   
{%block NAVBAR%}

{% include 'navbar.html'%}

{%endblock%}

{% block BODY %}

    <div style="text-align:center;">
     <h3><em>Quiz your way to success!</em></h3>
     <a href="{{ url_for('user_login') }}"><button class="btn btn-primary">USER LOGIN</button></a>
    <a href="{{ url_for('admin_login')}}"><button class="btn btn-primary">ADMIN LOGIN</button></a>
    <a href="{{ url_for('new_user_registration')}}"><button class="btn btn-secondary">REGISTER</button></a>

    </div>
    
{% endblock %}