{% extends 'basic_layout.html' %}
  
{% block TITLE %}
    Quizzes
{% endblock %}       

{%block NAVBAR%}
{%include 'navbar_user.html'%}
{% endblock %}   

{% block BODY %} 

<h5 class="display-5">Quizzes of {{chapter.Name}}</h5>

{%include 'search_quiz.html'%}<br>

<table class="table table-striped ">
    <thead class='table-info'>
        <tr>
            <th>Quiz ID</th>
            <th>Date scheduled</th>
            <th>Duration</th>
            <th>Remarks</th>
            <th>Total marks</th>
            <th>Qualifying marks</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for quiz in quizzes%}
        <tr>
            <td>{{quiz.id}}</td>
            <td>{{quiz.date_of_quiz}}</td>
            <td>{{quiz.time_duration}}</td>
            <td>{{quiz.Remarks}}</td>
            <td>{{quiz.total_marks}}</td>
            <td>{{quiz.Qualifying_marks}}</td>
            <td>
                <div>
                    <a href="{{ url_for('display_quiz_details', quiz_id=quiz.id) }}" class="btn btn-primary">
                        VIEW
                    </a>
                    {% if quiz.date_of_quiz == today %}
                    <a href="{{ url_for('display_questions_user', id=quiz.id) }}" class="btn btn-success">
                        START
                    </a>
                {% endif %}
                {% if quiz.date_of_quiz <= today %}
                    <a href="{{ url_for('display_past_quiz_attempts_user', quiz_id=quiz.id) }}" class="btn btn-info">
                        ATTEMPTS
                    </a>
                {% endif %}
                
                
             </div>
            </td>
        </tr>
        {%endfor%}
    </tbody>

</table>
   

{% endblock %} 

