{% extends 'basic_layout.html' %}
  
{% block TITLE %}
    User Dashboard
{% endblock %}  

{%block NAVBAR%}
{%include 'navbar_user.html'%}
{% endblock %}  

{% block BODY %} 
   <h3 class="display-3" style="color: #ae68eb;"> Welcome {{user.Full_Name}} !! </h3>
    <h4 class="display-4">Subjects</h4>
    {%include 'search.html'%}<br>


<table class="table table-striped ">
    <thead class='table-info'>
        <tr>
            <th>Subject ID</th>
            <th>Subject Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects%}
        <tr>
            <td>{{subject.id}}</td>
            <td>{{subject.Name}}</td>
            <td>{{subject.Description}}</td>
            <td>
                <div>
                <a href="{{url_for('display_chap_user',id=subject.id)}}" class="btn btn-primary">
                Chapters</a>
            </div>
        </td>
    </tr>
    {%endfor%}
</tbody>

</table>
{% endblock %} 