{% extends 'basic_layout.html' %}
  
{% block TITLE %}
    Users
{% endblock %}       

{% block NAVBAR %}
    {%include 'navbar_admin.html'%}
{% endblock %}
        
{% block BODY %} 

<h5 class="display-5">Users of Quiz Master Application</h5><br>
{%include 'search_user.html'%}<br>

<table class="table table-striped ">
    <thead class='table-info'>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Username(E-mail)</th>
            <th>Qualification</th>
            <th>DOB</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users%}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.Full_Name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.Qualification}}</td>
            <td>{{user.DOB}}</td>
        </tr>
        {%endfor%}
    </tbody>

</table>
   

{% endblock %} 